body {
  background: linear-gradient(to right, black, grey);

h1 {
  color: white;
  font-family: "Trebuchet MS";
  font-size: 75px;
}

h2 {
  color: white;
  font-family: "Trebuchet MS";
  font-size: 50px;
}

